.cover__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

    .cover__wrapper::after {
        background: #2A2C2F;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
        content: '#';
        width: 100%;
        height: 100%;
}

.cover__wrapper:hover {
    background: #2A2C2F;
opacity: 0.8;
}