.cover {
 
  background: url(../../images/__background.png), no-repeat;
  background-position: center;
  min-height: 740px;
  margin: 92px 0;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    min-height: calc(200px + (480 - 200) * ((100vw - 320px) / (768 - 320)));

  }
}


@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin: 64px 0 62px 0;

  }
}
