.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 96px);
    padding-bottom: 24px;
    flex-wrap: wrap;
}

@media screen and (min-width: 1281px) {
    .footer {
        max-width: 1184px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: calc(100vw - 48px);
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: calc(100vw - 32px);
    }
}