.place__url-heading {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    color: #AAAAAA;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 320px) {
    .place__url-heading {
        padding-bottom: 12px;
    }
}