.lead-image {
  max-width: 984px;
  max-height: 615px;
  position: relative;
  width: 100%;
}


@media screen and (max-width: 1024px) {
  .lead-image {
    max-width: 928px;
    max-height: 580px;
    }
}


@media screen and (max-width: 320px) {
  .lead-image {
    max-width: 320px;
    max-height: 200px;
    }
}
